@font-face {
  font-family: "Lato-Bold";
  src: url(fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-Regular";
  src: url(fonts/PlayfairDisplay-Regular.ttf);
}

@font-face {
  font-family: "PlayfairDisplay-Bold";
  src: url(fonts/PlayfairDisplay-Bold.ttf);
}

@font-face {
  font-family: "Lato-Light";
  src: url(fonts/Lato-Light.ttf);
}

@font-face {
  font-family: "Proxima-Nova-Extrabold";
  src: url(fonts/Proxima-Nova-Extrabold.ttf);
}

@font-face {
  font-family: "Proxima-Nova-Semibold";
  src: url(fonts/Proxima-Nova-Semibold.ttf);
}

@font-face {
  font-family: "Proxima-Nova-Regular";
  src: url(fonts/Proxima-Nova-Regular.ttf);
}

@font-face {
  font-family: "Lato-Regular";
  src: url(fonts/Lato-Regular.ttf);
}

body {
  background-color: #111619;
  min-width: 1900px;
  font: 16px/24px PlayfairDisplay-Regular, sans-serif;
}

.content {
  max-width: 1800px;
  margin: 0 auto;
}

#header {
  display: flex;
  justify-content: space-between;
  padding: 0 0 29px;
  flex: 0 0 auto;
}

.logo-and-contacts {
  display: flex;
  column-gap: 85px;
  margin: 25px 0 0;
}

#header .contact-number {
  font: 18px/16px serif;
  letter-spacing: 2px;
  color: #6b7175;
  margin: 0 0 0 11px;
}

#header .navigation {
  display: flex;
  column-gap: 75px;
}

#header .nav-block {
  display: flex;
  column-gap: 67px;
  margin: 30px 6px 0;
  padding: 0;
}

#header .nav-block .active {
  color: #a53689;
}

#header .nav-block a {
  color: #53595c;
  letter-spacing: 2.5px;
  text-decoration: none;
  font: 15px/15px Lato-Bold, sans-serif;
}

#header .nav-block a:hover {
  color: #a53689;
}

#header .social-networks {
  padding: 0;
  margin: 27px 0 0;
  display: flex;
  flex-direction: column;
  row-gap: 39px;
}

#header .social-networks a {
  background: url(image/socialMedia.png);
  display: block;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
}

#header .social-networks .instagram {
  position: relative;
}

#header .social-networks .instagram::after {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  right: -16px;
  width: 25px;
  background: url(image/ellipse.png);
  height: 50px;
}

#header .social-networks .facebook {
  background-position: 0 -24px;
}

#header .social-networks .twitter {
  background-position: 0 -51px;
}

#header .social-networks .behance {
  background-position: 0 -75px;
}

#header ul {
  list-style: none;
}

.gallery {
  background: url(image/backgroundGallery.png) no-repeat 51px 184px;
  padding: 0 0 75px;
}

.gallery .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gallery .gallery-images {
  margin: 0 0 177px;
  display: flex;
  align-items: center;
}

.gallery figure {
  margin: 0;
  padding: 0;
  height: 528px;
  width: 1210px;
}

.gallery figure img {
  margin: 0 0 38px 59px;
  display: none;
}

.gallery figcaption {
  margin: 0 0 0 156px;
  text-align: center;
  font-size: 28px;
  line-height: 28px;
  letter-spacing: 45px;
  color: #48555d;
}

.gallery figcaption span {
  display: none;
}

.button-gallery {
  width: 108px;
  height: 108px;
  border: none;
  border-radius: 100%;
  background-color: #14191d;
  position: relative;
  cursor: pointer;
  transform: translate(15px, 3px);
}

.button-gallery::after {
  right: -8px;
  position: absolute;
  content: "";
  display: block;
  width: 91px;
  height: 77px;
  top: -3px;
  background: url(image/ellipse2.png) no-repeat;
}

.nav-gallery {
  list-style: none;
  padding: 0;
  margin: 0 0 0 5px;
  display: flex;
  column-gap: 24px;
  justify-content: center;
}

#images {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

#images li {
  display: none;
}

#images .active-image {
  display: block;
}

#images .active {
  display: block;
}

.nav-gallery .circle {
  width: 5px;
	height: 5px;
	background-color: #48555d;
	border-radius: 100%;
}

.nav-gallery .border {
  display: block;
  border: 2px solid #ed751b;
  padding: 10px;
  border-radius: 100%;
}

.nav-gallery .active-circle {
  background-color: #ed751b;
  display: flex;
  align-items: center;
  justify-content: center;
}

.music-player .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.music-player h1 {
  text-align: center;
  font-size: 70px;
  line-height: 100px;
  color: #fff;
  width: 1550px;
}

.player {
  display: flex;
  align-items: center;
  margin: 0 0 17px 37px;
}

.player button {
  border: none;
  background: none;
  cursor: pointer;
  width: 35px;
  height: 40px;
  transform: translate(-215px, 0);
}

.strategy {
  padding: 306px 0 0;
  background: url(image/map.png) no-repeat -359px 83px;
}

.strategy .content {
  display: flex;
  column-gap: 112px;
}

.strategy figure {
  margin: 0 0 0 38px;
}

.strategy figcaption {
  width: 110px;
  transform: translate(255px, -163px);
}

.strategy time,
.company-offer time {
  font-size: 44px;
  line-height: 70px;
  color: #fff;
}

.strategy mark,
.company-offer mark {
  font-size: 44px;
  line-height: 70px;
  color: #22292d;
  background: none;
} 

.strategy article {
  margin: -44px 0 0;
}

.strategy h1,
.company-offer h1 {
  color: #fff;
  font-size: 44px;
  line-height: 58px;
}

.strategy p,
.company-offer p {
  margin: 0 0 38px;
  width: 630px;
  font: 22px/34px Lato-Light, sans-serif;
  color: #fff;
}

.strategy a ,
.company-offer a {
  background-image: linear-gradient(to right, #e84b37, #ee7d16);
  font: 14px/32px Proxima-Nova-Extrabold, serif;
  color: #fff;
  text-decoration: none;
  padding: 11px 19px;
  border-radius: 2px;
  display: block;
  text-align: center;
  width: 160px;
  letter-spacing: 2px;
}

.strategy a:hover ,
.company-offer a:hover {
  text-decoration: underline;
}

.company-offer {
  padding: 172px 0 127px;
}

.company-offer .content {
  display: flex;
  column-gap: 108px;
}

.company-offer article {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: -13px 0 0 144px;
}

.company-offer h1 {
  text-align: end;
  line-height: 69px;
  margin: 0 0 10px;
}


.company-offer p {
  text-align: end;
  margin: 0 0 72px;
}

.company-offer figure {
  margin: 0;
}

.company-offer figcaption {
  width: 110px;
  transform: translate(520px, -157px);
}

.portfolio {
  padding: 157px 0 153px;
  text-align: center;
  background: url(image/portfolioImages/portfolio.png) no-repeat 45px 2px;
}

.portfolio h1 {
  font: 18px/50px PlayfairDisplay-Bold, serif;
  color: #fff;
  margin: 0 0 101px 10px;
  letter-spacing: 11px;
  position: relative;
}

.portfolio h1::after {
  content: "";
  position: absolute;
  display: block;
  background-color: #ed7b16;
  width: 2px;
  height: 129px;
  top: 51px;
  right: 50.1%;
}

.portfolio ul {
  margin: 0 33px;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 112px 0;
}

.portfolio li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.portfolio figure {
  margin: 0;
  width: 480px;
  height: 630px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio h2 {
  margin: 0;
  font: 30px/32px Proxima-Nova-Semibold, sans-serif;
  color: #000;
}

.portfolio span {
  color: #000;
  font-family: Proxima-Nova-Regular, sans-serif;
}

.portfolio a {
  background-image: linear-gradient(to right, #e84b37, #ee7d16);
  font: 14px/32px Proxima-Nova-Extrabold, serif;
  color: #fff;
  text-decoration: none;
  padding: 11px 19px;
  border-radius: 2px;
  display: block;
  text-align: center;
  width: 160px;
  letter-spacing: 2px;
  transform: translate(0, -24px);
}

.portfolio a:hover {
  text-decoration: underline;
}

.clicked-element {
  background: url(image/portfolioImages/activeElementBackground.png) no-repeat 28px 0;
  padding: 20px 0 0;
  transform: translate(0, -16px);
}

.end-of-thino img {
  margin: -14px 0 87px;
}

.end-of-thino h2 {
  margin: 0 0 19px;
}

.end-of-thino a {
  display: none;
}

.het-boerenveensche img {
  margin: -41px 38px -12px 0;
}

.het-boerenveensche h2 {
  margin: 0 0 16px;
}

.bluerocket img {
  margin: -53px 0 73px 4px;
}

.bluerocket h2 {
  margin: 0 0 22px;
}

.harmony-poliform img {
  margin: -6px 0 35px 15px;
}

.harmony-poliform h2 {
  margin: 0 0 13px;
}

.rowenta-studiodry img {
  margin: 12px 0 92px 19px;
}

.rowenta-studiodry h2 {
  margin: 0 0 15px;
}

.fritsch-durisotti img {
  margin: -8px 16px 33px 0;
}

.portfolio .active {
  position: relative;
}

.portfolio .active::after {
  content: "";
  bottom: 0;
  right: 0;
  position: absolute;
  display: block;
  border: 60px solid transparent;
  border-right: 60px solid #e84b37;
  border-bottom: 60px solid #e84b37;
}

.portfolio .active-button {
  background: url(image/portfolioImages/vectorSmartObject.png) no-repeat 0;
  display: block;
  width: 1px;
  transform: translate(205px, -42px);
}

.services {
  padding: 61px 0 130px;
  background: url(image/roadPicture.png) no-repeat 0 175px;
  text-align: center;
}

.services article {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 164px 21px;
}

.services strong {
  font: 14px/50px PlayfairDisplay-Bold, sans-serif;
  color: #ac378e;
  letter-spacing: 8px;
  margin: 0 0 -3px;
}

.services h1 {
  font-size: 70px;
  line-height: 95.67px;
  color: #fff;
  margin: 0 0 16px;
}

.services .text-content {
  color: #fff;
  letter-spacing: 9px;
  margin: 0 0 48px;
}

.services a {
  text-decoration: none;
  color: #fff;
  font: 14px/32px Proxima-Nova-Extrabold, sans-serif;
  background-image: linear-gradient(to right, #5d00c9, #d5536f);
  padding: 10px 22px;
  letter-spacing: 3px;
  border-radius: 2px;
}

.services a:hover {
  text-decoration: underline;
}

.services .list-of-services {
  display: flex;
  list-style: none;
  margin: 0 0 77px 141px;
  padding: 0;
  column-gap: 69px;
  text-align: start;
}

.list-of-services li:nth-child(2n) {
  margin: 0 98px 0 0;
}

.list-of-services li {
  cursor: pointer;
}

.services .list-of-services img {
  margin: 0 0 12px;
}

.services .list-of-services .active {
  background-image: linear-gradient(to right top, #5d00c9, #d5536f);
  padding: 38px 48px 0;
  height: 340px;
  margin: -38px 0 0 -49px;
  border-radius: 3px;
}

.services h2 {
  font: 30px/50px Lato-Regular, sans-serif;
  color: #fff;
  margin: 0 0 15px;
}

.services p {
  font: 18px/32px Lato-Light, sans-serif;
  margin: 0;
  color: #fff;
}

.services .nav-gallery {
  margin: 0 0 512px 25px;
}

.services .nav-gallery .circle {
  background-color: #fff;
}

.services .nav-gallery .active-circle {
  background-color: #ed751b;
}

.services .contact {
  font-size: 70px;
  line-height: 95.67px;
  color: #fff;
  margin: -4px 0 0 20px;
}

.services .contact address {
  font-style: normal;
  position: relative;
}

.services .contact address::after {
  content: "";
  display: block;
  position: absolute;
  height: 2px;
  width: 480px;
  background-color: #ac378e;
  left: 36.6%;
  top: 95px;
}

#footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 146px 0 209px;
}

#footer .logo {
  margin: 0 0 54px;
}

#footer .nav-block {
  display: flex;
  list-style: none;
  margin: -2px 13px 56px 0;
  column-gap: 33px;
  position: relative;
}

#footer .nav-block::before {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 1px;
  top: 6px;
  left: -547px;
  background-image: linear-gradient(to right, #d5536f, #5d00c9);
}

#footer .nav-block::after {
  content: "";
  display: block;
  position: absolute;
  width: 500px;
  height: 1px;
  top: 6px;
  left: 593px;
  background-image: linear-gradient(to right, #5d00c9, #d5536f);
}

#footer .nav-block li {
  font: 14px/14px Lato-Regular, sans-serif;
  letter-spacing: 2px;
  color: #6c7276;
}

#footer .nav-block a {
  text-decoration: none;
  color: #6c7276;
  margin: 0 25px 0 0;
}

#footer .nav-block a:hover {
  color: #a53689;
}

#footer .nav-block .active {
  color: #a53689;
}

#footer .social-networks {
  list-style: none;
  display: flex;
  margin: 0 36px 0 0;
  justify-content: center;
  column-gap: 47px;
}

#footer .social-networks a {
  background: url(image/socialMediaFooter.png) no-repeat;
  display: block;
  text-indent: -9999px;
  width: 20px;
  height: 20px;
}

#footer .social-networks .twitter {
  position: relative;
}

#footer .social-networks .twitter::after {
  content: "";
  display: block;
  position: absolute;
  top: -12px;
  right: -16px;
  width: 25px;
  background: url(image/ellipse.png);
  height: 50px;
}

#footer .social-networks .instagram {
  background-position: -68px 0px;
}

#footer .social-networks .facebook {
  background-position: -135px 0px;
}

#footer .social-networks .behance {
  background-position: -202px 0px;
}
